extends layout

block content
    script(src='/js/react.js')
    script(src='/js/JSXTransformer.js')
    script(src='/js/questionComponents.js', type="text/jsx")
    script(src='/js/feedbackComponents.js', type="text/jsx")
    script(src='/socket.io/socket.io.js')
    script(src='/js/feedbackNotifier.js')
    
    h1 Feedbacks ...
    
    div(id="container")
      div(id="quesDiv" class="question")
      div(id="feedDiv" class="response")
