extends layout

block content
    script(src='/socket.io/socket.io.js' type="text/javascript")
    script(src='/js/server-config.js' type="text/javascript")
    script(src='/js/feedbackNotifier.js' type="text/javascript")
    
    h1 Feedbacks ...
    
    div(id="container")
      div(id="quesDiv" class="question")
      div(id="feedDiv" class="response")
      form#nextQuestion(name="nextQuestionForm", method="get", action="/nextQuestion")
        div(style="top: -110px; position: relative; left: 300px;")
          input(type="submit" value="Next Question")
