extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/js/server-config.js')
    script(src='/js/feedbackNotifier.js')
    
    h1 Feedbacks ...
    
    div(id="container")
      div(id="quesDiv" class="question")
      div(id="feedDiv" class="response")
