body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h6 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
  margin-top: -30px;
}

.chkBoxLbl {
  font-size: 0.5em;
  top: -2px;
  position: relative;
  padding-left: 10px;
}

.ratingInfoLbl {
	font-size: 0.4em;
  color: blue;
}

.question {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.response {
  margin-top: 10px;
  color: blue;
}
